@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* @import url("./reset.css"); */
*:focus {
  outline: none;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 100%;
}
/*small screens*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/*medium screens*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/*large screens */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/*x-large screens*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* extra large screens*/
@media (min-width: 1440px) {
  .container {
    max-width: 1426px;
  }
}
a {
  text-decoration: none;
}

body {
  font-family:arial rgb(255, 255, 255);
  /* font-family: "Roboto Condensed", sans-serif; */
  background-color: rgb(41, 36, 36);

  background-repeat: no-repeat;
  /* position: relative; */

}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(31, 28, 28);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*header*/
header {
  width: 100%;
  /* background-color: #5503f9; */
  /* border: 2px solid #e123f6;
  box-shadow: rgba(228, 121, 247, 0.582) 0px 14px 28px, rgba(249, 0, 145, 0.22) 0px 10px 10px; */
}
header .container {
  min-height: 90px;
  display: flex;
  align-items: center;

}

header h1 {
  margin: auto;
  /* color: white; */
  font-family: "Lobster", cursive !important;
  user-select: none;
  border-radius: 40%;
  padding: 5px;
  background-color: rgb(31, 28, 28);
  color: #ffffff;
  /* box-shadow: 0 0 5px #7635f6e8,
              0 0 25px #a919f7,
              0 0 50px #e963c5fd,
              0 0 200px #a6ff01ec,
              0 0 300px #0afcd0fe,
              0 0 500px #199bf7f0,
              200px 500px 150px 20px #6319f7e3,
              -200px 500px 150px 20px #6319f7e3,
              200px 200px 150px 20px #6319f7e3,
              -600px 200px 150px 20px #6319f7e3,
              -600px 650px 150px 20px #6319f7e3,
              600px 600px 150px 20px #6319f7e3,
              600px 200px 150px 20px #6319f7e3,
              -200px 100px 150px 20px #6319f7e3,

              80px 660px 150px 20px #f71950e3,
              -350px 600px 150px 20px #f71950e3,
              400px 100px 150px 20px #f71950e3,
              -350px 350px 150px 20px #f71950e3,
              -700px 500px 150px 20px #f71950e3,
              400px 400px 150px 20px #f71950e3,
              700px 20px 150px 20px #f71950e3,
              -700px 30px 150px 20px #f71950e3; */

}
section {
  position: relative;
  min-height: calc(100vh - 90px);
}

section .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
a:not(.exit a) {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  overflow: hidden;
  transition: 1s;
}
a:not(.exit a)::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 158%;
  left: -100%;
  top: 0;
  background: #ffffff7a;
  transition: 1s;
}
a:hover {
  transform: scale(1.1);
}
a:hover::before {
  left: 100%;
}
button{
  z-index: 1;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin: 5px;
  border-width: 0px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 20px;
  transition: opacity 0.3s;
  background-color: #4caf50;
  border: 1px solid white;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}

#game_id {
  margin: 10px 0;
  color: #fff;
  font-size: 20px;
}
#game_id span {
  font-size: 28px;
  color: rgb(50, 216, 50);
}
/*************loging***********/
section .content {
  animation: up 1s;
}
section#login {
  background-color:rgb(31, 28, 28);
  /* background: linear-gradient(to right, #6319f7e3, #f71950e3); */
  min-height: 100vh;

}
section#login span {
  font-size: 20px;
  color: white;
}
section#login p {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}
section#login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
section#login form div {
  position: relative;
  margin-top: 10px;
  animation: input 1s;
}
section#login form input:not(input[type="color"]) {
  padding: 10px;
  width: 200px;
  background-color: transparent;
  color: white;
}
section#login form input:not(input[type="color"]):hover {

  color: rgb(5, 220, 19);
  /* background-color: #af4c61; */
  transition: 1s;
}

section#login form input[type="color"] {
  width: 60px;
  border: none;
  background-color: transparent;
  height: 50px;
  padding-left: 10px;
}


.text-rainbow-animation {
  /* font-family:arial black; */
  /* font-size:70px; */
  background-image:
  linear-gradient(to right, rgb(255, 255, 255),orange,yellow,green,blue,indigo,violet, red);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 700s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}



section#login form label {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 10px;
}





section#login form button {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid white
}
section#login form div span:last-of-type {
  right: 0;
  bottom: 0;
  height: 0%;
  width: 3px;
  background-color: red;
}
section#login form div span:nth-child(2) {
  left: 0;
  bottom: 0;
  height: 0%;
  width: 3px;
  background-color: green;
}
section#login form div span:nth-child(3) {
  top: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #e123f6;
}
section#login form div span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: blue;
}
section#login form span {
  position: absolute;
  /* background-color: #af4c61; */
  transition: 1s;
}
section#login form div:hover span:last-of-type {
  height: 100%;
}
section#login form div:hover span:nth-child(2) {
  height: 100%;
}
section#login form div:hover span:nth-child(3) {
  width: 100%;
}
section#login form div:hover span:nth-child(4) {
  width: 100%;
}

@keyframes up {
  from {
    transform: translate(-50%, -20%);
    opacity: 0.1;
  }
  to {
    transform: translate(-50%, -50%);

    opacity: 1;
  }
}
@keyframes input {
  from {
    transform: translateY(-300px);
    opacity: 0.1;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*********game home***********/
/******************************/
#timer {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  right: 100px;
  top: 20px;
}
.information {
  width: fit-content;
  position: absolute;
  left: 100px;
  top: 30px;
  width: 50%;
}
.information ul {
  display: flex;
  gap: 30px;
  background-color: transparent;
}
ul li {
  padding: 10px;

}
ul li span:nth-child(1) {
  margin-right: 10px;
}
ul li span:nth-child(2) {
  margin-right: 10px;
}
/* .dialog-container {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: scale(0);
  width: 400px;
  background: #fff;
  padding: 10px;
  border: 2px solid #ddd;
  box-shadow: 1px 1px 5px 1px #ccc;
  border-radius: 10px;
  transition: all 0.3s linear 0s;
  z-index: 999; */
/* }
.dialog-container.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
} */
/* .dialog-header {
  padding: 10px;
  font-weight: bold;
  background: #575757;
  color: #f6f7f8;
}
.dialog-body {
  padding: 10px;
  line-height: 30px;
}
.dialog-footer {
  text-align: center;
  background: transparent;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .dialog-footer button {
  display: inline-block;
  width: 100px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #eee;
  cursor: pointer;
  color: #000;
} */
/* .dialog-footer button a {
  color: #000;
}
.dialog-footer button.refresh {
  border: none;
  background-color: transparent;
} */






/* table and cells */
.cell {
  /*
  height: 60px;
  background-color: blanchedalmond;
  background-blend-mode: multiply;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center; */


  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: #b7b7b7 3px double; */
  border-radius: 5%;
  /* transition: all linear .2s; */
  background: #ffffff;
  font-size: 14px;
  box-shadow: rgba(255, 0, 247, 0.15) 0px 15px 25px, rgba(217, 0, 255, 0.05) 0px 5px 10px;
}

.cell p {
  margin: 0;
  color: #000000;
  font-weight: bold;

}

.cell:hover {
  background: #d8d1d1;
  cursor: pointer;
}

.cell.active {
  opacity: 0;
  visibility: hidden;
}

.board-border {
  user-select: none;
  width: calc(100% - 200px);
  margin: 90px auto;
  user-select: none;
  display: grid;
  background: rgba(47, 42, 42, 0.507);
  border-radius: 1%;

  /* grid-template-columns: repeat(4, 1fr);  */
  /* grid-template-rows: repeat(4, 1fr);  */
  row-gap: 3px;
  column-gap: 3px;

  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  border: 2px solid #e123f6;
  padding: 15px;
  box-shadow: rgba(228, 121, 247, 0.582) 0px 14px 28px, rgba(249, 0, 145, 0.22) 0px 10px 10px;
}

.done {
  filter: blur(2px);
}
.board-border.done > div {
  pointer-events: none;
}
.game-board {
  position: absolute;
  top: 5%;
}








/* btn */


.menu-btn{
  display: flex;
  border: 2px solid white;
  background: transparent;
  color: white;
  /* width: 20px;
  height: 50px; */
  font-size: 1.5em;
  border-radius: 5px;
  opacity: .7;
  /* margin: auto; */
  transition: .3s;
  line-height: 1.2;
}

#creat_game p {
  color: rgb(227, 67, 67);
  padding-bottom: 10px;
  font-size: 12px;
}
#creat_game h2 {
  color: white;
  padding-bottom: 20px;
}
#player_num {
  width: 100px;
  height: 40px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 15%;
  margin-bottom: 10px;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



.error-message {
  color: red;
  font-size: small;
}

.wait {
  font-size: 40px;
  text-align: center;
}
.wait p{
  color: white;
}
.wait span {
  color: rgb(1, 191, 1);
}



/* player cicule color */

.player-circle-color {
  display : inline-block;
  width : 20px;
  height : 20px;
  border-radius: 50%;
  border: 2px solid white;
}
