/* home.html css start */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    /* game css */
    overflow: hidden;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    height: 100vh;
}

.neon-title {
    font-size: 4em;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    margin-bottom: 20px;
}

.neon-label {
    font-size: 1em;
    color: #ff00ff;
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff;
}

.neon-note {
    font-size: 0.9em;
    color: #ff0000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group {
    margin-top: 10px;
}

.radio-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.radio-label {
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #000;
    border: 2px solid #05d1fa;
    text-shadow: 0 0 5px;
    box-shadow: 0 0 10px #05d1fa;
    margin: 3px;
    padding: 5px 5px;
    font-size: 1em;
    /* transition: all 0.3s ease; */
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    position: relative;
}

.radio-label input[type="radio"] {
    display: none;
    /* opacity: 0;
    margin-left: -1rem */

}

.radio-label:hover, .radio-label:focus, .radio-label:active {
    transform: scale(1.05);
}

.radio-label input[type="radio"]:checked + span {
    /*         background-color: #001a1a; */
    color: #00ff00;
    /*     border: 1px solid #00ffff;  */
    border-radius: 5px;
    text-shadow: 0 0 50px #00ff00;
    box-shadow: 0 0 1000px #00ff00;
}


.btn-neon-submit {
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #05d1fa;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1.2em;
    text-shadow: 0 0 5px #05d1fa;
    box-shadow: 0 0 10px #05d1fa;
    margin-top: 20px;
    transition: all 0.3s ease;
    margin: 10px;
    cursor: pointer;
}

.btn-neon-submit:hover,
.btn-neon-submit:focus,
.btn-neon-submit:active {
background-color: #00ff00;
color: #000000;
border: 2px solid #00ff00;
box-shadow: 0 0 20px #00ff00;
transform: scale(1.1);
}

.contrast-low{
opacity: 0.3;
color: #6c757d;
}
.image-cont {
margin-left: auto;
margin-right: auto;
width:300px;
height:150px;
}
.image-cont img {
height:100%;
}

.text-rainbow-animation {
background-image:
linear-gradient(to right, rgb(255, 255, 255),orange,yellow,green,blue,indigo,violet, red);
-webkit-background-clip: text;
background-clip:text;
-webkit-text-fill-color: transparent;
animation: rainbow-animation 700s linear infinite;
}
a:not(.exit a) {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* font-size: 18px; */
    letter-spacing: 2px;
    border-radius: 40px;
    border: 1px solid #05d1fa;
    /* background: linear-gradient(90deg, #0162c8, #55e7fc); */
    /* overflow: hidden; */
    transition: 0.5s;
}
a:hover {
    transform: scale(1.1);
}
#response-text {
    margin: 10px 0;
    color: #ff00ff;
    /* text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff; */
    font-size: 20px;
}
#response-text span {
    font-size: 28px;
    color: rgb(50, 216, 50);
}

.neon-box {
/*   background: linear-gradient(45deg, #FF00FF, #00FFFF); */
padding: 20px;
border: 2px solid #05d1fa;
border-radius: 10px;
box-shadow: 0 0 10px #05d1fa;
}

/* join.html css start */
.neon-input {
    background-color: transparent;
    border: 2px solid #05d1fa;
    color: #00ff00;
    padding: 10px 20px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 10px auto;
    /*   width: 300px; */
    box-shadow: 0 0 10px #05d1fa;
}
.neon-input:hover, .neon-input:focus, .neon-input:active {
    transform: scale(1.05);
    /* color: #00ff00; */
  }
.color-input {
width: 50px;
height: 50px;
padding: 0;
border-radius: 5px;
}

.neon-button {
background-color: transparent;
border: 2px solid #fff;
color: #fff;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 10px;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
box-shadow: 0 0 10px #05d1fa;
}

.neon-button:hover {
    background-color: #00ff00;
    color: #000;
}

/* game.html css start */

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a0a0a; /* Dark background for contrast */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5); /* Neon blue shadow */
    width: 95%;
    margin: 40px 0px;
    border: 2px solid #00ffff; /* Neon blue border */
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    color: #00ffff;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
}

.player {
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 0px 10px;
    color: #ffffff; /* Neon yellow text */

    display: flex; /* remove it to put score under name */
}

.player-ready {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Neon yellow shadow */
    border: 2px solid #00FF00; /* Neon yellow border */
}

.player-unready {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Neon yellow shadow */
    border: 2px solid #FF0000; /* Neon yellow border */
}

.player:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(0, 255, 255, 1);
}

.score {
    display: block;
/*     font-size: 1.2em; */
/*     margin-top: 5px; */
    margin-left: 10px
}

.timer {
    font-size: 1em;
    width: 40px;
    background-color: #0a0a0a; /* Dark background */
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); /* Neon blue shadow */
    transition: background-color 0.3s, box-shadow 0.3s;
    color: #00ffff; /* Neon blue text */
    border: 2px solid #00ffff; /* Neon blue border */
}

.timer:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(0, 255, 255, 1);
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a; /* Dark background */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); /* Neon green shadow */
    border: 2px solid #ffff00; /* Neon green border */
    max-height: 70vh;
    height: 70vh;
    overflow: hidden;
    flex-grow: 1;
}

.row {
    display: flex;
    justify-content: center;
    /* margin: 2px 0; */
}

.square {
    -webkit-user-select: none;
    user-select: none;
    /* width: 40px; */
    /* height: 40px; */
    /* margin: 0px 2px; */
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 0.8em; */
    color: black;
    background-color: #ffffff;
    /* transition: transform 0.2s, box-shadow 0.2s; */
}

/* .square:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
} */

.medium-size {
    width: 39.3px;
    height: 39.3px;
    margin: 0.4px;
    font-size: 0.8em;
}
.large-size {
    height: 30px;
    width: 30px;
    margin: 0.4px;
    font-size: 0.6em;

}
/* .medium-size:hover {
    transform: scale(1.04);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
} */
.large-size:hover,.medium-size:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.chat-box {
    background-color: #0a0a0a; /* Dark background for contrast */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.5); /* Neon pink shadow */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 228px;
    height: 70vh;
    max-height: 70vh;
    margin-left: 20px;
    border: 2px solid #ff00ff; /* Neon pink border */
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.messages::-webkit-scrollbar {
    width: 5px;
}

.messages::-webkit-scrollbar-thumb {
    background: #00ffff;
    border-radius: 10px;
}

#chatInput {
    border: 1px solid #ff00ff; /* Neon pink border */
    padding: 10px;
    border-radius: 5px;
/*     box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); */
    background-color: #1a1a1a; /* Dark background */
    color: #ff00ff; /* Neon pink text */
    font-size: 1em;
    outline: none;
}

#chatInput::placeholder {
    color: #ccc;
}

/* Additional CSS for chat messages */
.chat-message {
    padding: 5px 10px;
    background-color: #000000; /* Dark background */
    border-radius: 5px;
    margin-bottom: 5px;
/*     box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); */
    word-break: break-word;

    border: 1px solid #ff00ff; /* Neon pink border */
}
.done {
    filter: blur(0.5px);
  }
.game-board.done > div {
    pointer-events: none;
  }
.hide {
    display: none;
    /* visibility: hidden; */
  }
.time-btn {
    display: flex;
    gap: 23px;
    align-items: normal;
    width: 250px;
    color: #00ffff;
    justify-content: flex-end;
}
.play-again-btn {
    /* margin: 10px; */
    color: #00fd16;
    background-color: #0a0a0a;
    border: 2px solid #00ffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    text-shadow: 0 0 5px #19ff00;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    /* margin-top: 20px; */
    transition: all 0.3s ease;
    /* margin: 10px; */
    /* width: 65px; */
    cursor: pointer;
}
.play-again-btn:hover,
.play-again-btn:focus,
.play-again-btn:active {
background-color: #00ff00;
color: #000000;
border: 2px solid #00ff00;
box-shadow: 0 0 20px #00ff00;
transform: scale(1.1);
}

.text-rainbow-animation {
    background-image:
    linear-gradient(to right, rgb(255, 255, 255),orange,yellow,green,blue,indigo,violet, red);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 700s linear infinite;
  }

  @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
      }
  }
