{% extends 'base.html' %}

{% block content %}
{{name|json_script:"name" }}
{{ game_id|json_script:"game_id" }}
{{color|json_script:"color"}}


<div class="information text-center d-flex flex-column">
  <ul>
  </ul>
</div>


<div id="dialog-container" class="dialog-container ">
  <div class="dialog-header">Results...</div>
  <div id="dialog-body" class="dialog-body">
  </div>
  <div class="dialog-footer">
    <button class="exit"> <a href="{% url 'game:home' %}">Exit</a> </button>
    <button class="refresh">
      Play again
  </div>
</div>


<div id="timer"></div>

<div class="d-grid board-border"></div>

<div class="wait" id="wait"></div>



<script>
  function checkEvt(){
      var evTypep=window.performance.getEntriesByType("navigation")[0].type;
        if (evTypep=='reload'){
          window.location.replace(`http://${window.location.host}`);
        }

  }
  checkEvt();
  var name = JSON.parse(document.getElementById("name").textContent);
  var gameId = JSON.parse(document.getElementById("game_id").textContent);
  var color = JSON.parse(document.getElementById("color").textContent);
  var container = document.querySelector(".d-grid");
  var playerInform = document.querySelector(".information ul")

  var timer = document.getElementById("timer");



  const ws = new WebSocket(`ws://${window.location.host}/ws/game/${gameId}/${name}/`);
  while (container.firstChild) container.removeChild(container.firstChild);

  // var playerInform2 = document.querySelector(".menu-btns")
  function displayPlayers(players) {
    playerInform.innerHTML = ''

    for (const key in players) {
      let li = document.createElement("li"),
        spanName = document.createElement('span'),
        spanColor = document.createElement('span')
      // b = document.createElement('button')
      li.classList.add("menu-btn")
      li.classList.add("mt-2")
      // b.classList.add("menu-btn");
      // b.classList.add("mt-2")
      spanName.className = players[key].name;
      spanColor.className = players[key].color;
      spanColor.setAttribute("id", players[key].color)

      spanName.textContent = players[key].name;
      spanName.style.color = "white"

      spanColor.style.cssText = `
      display : inline-block;
      width : 20px;
      height : 20px;
      border-radius: 50%;
      background-color : ${players[key].color};
      `
      // b.innerHTML = players[i].user_name;
      // b.appendChild(spanColor)

      li.appendChild(spanName)
      li.appendChild(spanColor)
      playerInform.appendChild(li)
    }
  }


  //pop up
  let reloadBtn = document.querySelector(".refresh");
  let exitBtn = document.querySelector(".exit");
  exitBtn.addEventListener("click", () => {
    window.href
  });

  reloadBtn.addEventListener('click', () => {
    const PayLoad = {
      method: "restart_game",
      data: {
        game_id: gameId,
        name: name,
        color: color,

      }
    }
    var alert = document.querySelector(".dialog-container")
    ws.send(JSON.stringify(PayLoad))
    container.classList.remove("done");
    alert.classList.remove("active");
    container.innerHTML = ''
    playerInform.innerHTML = ''

  })

  function getvals() {
    return fetch(`http://localhost:8000/result/?game_id=${gameId}`)
      .then((response) => {})
      .then((responseData) => {})
      .catch(error => console.warn(error));
  }



  function countdown() {
    var seconds = 60;
    function tick() {
      // var counter = document.getElementById("counter");
      seconds--;
      timer.innerHTML = "0:" + (seconds < 10 ? "0" : "") + String(seconds);
      if (seconds > 0) {
        setTimeout(tick, 1000);
      } else {

        getvals();
        document.getElementById("timer").innerHTML = "";
      }
    }
    tick();
  }



  function clickHandle(p) {
    if (p.innerHTML == "") {
      return 0
    } else {
      return parseInt(p.innerHTML)
    }
  }

  function update_square(squareData) {
    let squareId = squareData.squareId;
    const squareObject = document.getElementById(squareId);
    const squareP = document.getElementById(squareId).getElementsByTagName("p")[0]

    squareObject.style.backgroundColor = squareData.color;
    squareP.innerHTML = squareData.clicked


  }


  function makesqu(squares) {
    container.innerHTML = ''
    //squares send messages
    for (let i = 1; i < Object.keys(squares).length + 1; i++) {



      let div = document.createElement("div");
      let p = document.createElement("p")
      let click_number = squares[i]["clicked"]
      div.appendChild(p)
      div.className = "cell";
      div.id = (i);
      if (click_number != 0) {
        p.innerHTML = click_number
      }
      // p.innerHTML = click_number

      div.tag = i;
      div.style.height = "60px"
      div.style.width = "60px"
      div.style.background = squares[i]["color"];
      div.addEventListener("click", (e) => {
        const user_color_rgb = document.getElementById(color).style.backgroundColor


        if (div.style.background !== user_color_rgb) {

          div.style.background = color;
          let prev_click = clickHandle(p)
          p.innerHTML = prev_click + 1
          const PayLoad2 = {
            method: "update_ball",
            data: {
              squareId: div.tag,
              color: color,
              clicked: prev_click + 1,
            }
          }
          ws.send(JSON.stringify(PayLoad2))
        }

      });

      container.appendChild(div);
    }

  }

  // ws recieve message from django
  ws.onmessage = (message) => {
    const data = JSON.parse(message.data);
    if (data.method === "update_square") {
      console.log(data.data)
      update_square(data.data)

    }
    if (data.method === "send_game") {
      squares = data.data.squares
      players = data.data.players
      displayPlayers(players)
      if (data.data.is_started === true) {
        document.getElementById("wait").innerHTML = ''
        makesqu(squares)

      }
    }
    if (data.method === "start_timer"){
      countdown();
      console.log(data.data)
    }
    if (data.method === "update_players") {
      let WaitMesage = document.createElement("h2")
      let WaitDiv = document.getElementById("wait")
      WaitDiv.innerHTML = ''
      players = data.data.players
      displayPlayers(players)
      if (data.data.waiting === true && name in players) {
        WaitDiv.innerHTML = ''
        WaitMesage.innerHTML = `
        <p>Wait the players to join, share the game code with them</p>
        <span style="color: green;">${gameId}</span>`
        WaitDiv.appendChild(WaitMesage)
      }
    }
    if (data.method === "send_results") {
      nat = ``
      for (result in data.data){
        nat += `<span style="color: ${data.data[result].color};">${data.data[result].name}</span> --> ${data.data[result].squares} <hr>`
      }
      document.getElementById("dialog-body").innerHTML = nat
      playerInform.innerHTML = ''
      container.classList.add("done");
      document.querySelector(".dialog-container").classList.add("active");
    }
  };

</script>
{% endblock content %}
