{% extends 'base.html' %} 
{% block content %}

<h1>Welcome to the Game</h1>

    <button id="create" >Creat game</button>
    <h3 id="game_id" ></h3>
    <a href="{% url 'join'%}"> Join Room</a>
<script>
    function S4() {
        return (((1+Math.random())*0x10000)|0).toString(16).substring(1); 
    }
    
    // then to call it, plus stitch in '4' in the third group
    const guid = () => (S4() + S4() + "-" + S4() + "-4" + S4().substr(0,3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
    const butt = document.getElementById('create')
    const game_id_h3 = document.getElementById('game_id')
    butt.addEventListener('click' ,() => {
        game_id_h3.innerHTML = guid()
    })

</script>

{% endblock %}