{% extends 'base.html' %}
{% load static %}
{% block content %}

<header>
  <div class="image-cont">
    <img class="logo" src="{% static '/imgs/logo-white.png' %}" alt="">
    {% comment %} <h1 class=""><span class="text-rainbow-animation">Squares</span> Game</h1> {% endcomment %}
  </div>
</header>

<section id="landing">
  <div class="content">
    <form id="creat_game" method="POST">
      <h2>how many players you want in the game?</h2>
      <p>Alert: The game will not start until the players completed</p>
      {% csrf_token %}
      <input class="home_input" id="player_num" type="Number" placeholder="Players Number"
        name="player_num" required />

      <input class="home_input" id="map_size" type="Number" placeholder="Map Size"
        name="map_size" required />

      <button class="text-rainbow-animation" type="submit">Creat game</button>
    </form>
    <div class="container">
      <div id="game_id"></div>
      <a class="" href="{% url 'game:join'%}"><span class="text-rainbow-animation">Join Game</span></a>
    </div>
  </div>
</section>
<script>
  let form = document.getElementById("creat_game");
  form.addEventListener("submit", (e) => {
    e.preventDefault()
    player_num = document.getElementById('player_num').value
    map_size = document.getElementById('map_size').value
    url = `http://localhost:8000/create/?player_num=${player_num}&map_size=${map_size}`
    fetch(url)
      .then(response => response.text())
      .then(result => {
        console.log(JSON.parse(result))
        let game_id_h3 = document.getElementById("game_id");
        game_id_h3.innerHTML = `copy your game ID and click Join Game: <span>${JSON.parse(result).game_id}</span> `;
        form.style.display = "none"
      })

      .catch(error => console.warn(error));
  })
</script>

{% endblock %}
