{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <header>
    <div class="image-cont">
      <a href="{% url 'game:home' %}"><img class="logo" src="{% static '/imgs/logo-white.png' %}" alt=""></a>
    </div>
  </header>
  <div class="neon-box">
    <h2 class="neon-label">Ready To Colorize!</h2>
    <p class="neon-label">Enter a Name, Pick a Color, Enter the Game ID, then press Enter Room</p>
    {% if messages %}
      {% for message in messages %}
        <div style="color: red;">{{message}}</div>
      {% endfor %}
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <input type="text" placeholder="Player Name" name="name" class="neon-input" required>
      <input type="text" placeholder="Room ID" name="game" class="neon-input" required>
      <input type="color" class="neon-input color-input" name="color" value="#ff00ff" required>
      <button type="submit" class="btn-neon-submit">Enter Room</button>
    </form>
  </div>
</div>

{% endblock %}
