{% extends 'base.html' %}
{% load static %}
{% block content %}
<style></style>
<header>
  <div class="image-cont">
    <img class="logo" src="{% static '/imgs/logo-white.png' %}" alt="">
    {% comment %} <h1 class=""><span class="text-rainbow-animation">Squares</span> Game</h1> {% endcomment %}
  </div>
</header>
<section id="login">

  <div class="content">
    <p>
      <p>Hi!</p>
      <br>
      <span>To start the game enter your name, choose a color, put the game ID, then press enter game</span>
    </p>
    {% if messages %}
      {% for message in messages %}
        <div style="color: red;">{{message}}</div>
      {% endfor %}
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div>
        <input type="text" placeholder="Username" name="name" required />
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div><input type="text" placeholder="game Id" name="game" required />
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="color-input">
        <label for="color" class="text-rainbow-animation">
          Pick a color
        </label>
        <input type="color" placeholder="your color" name="color" id="color" required />
      </div>
      <button class="text-rainbow-animation" type="submit">enter game</button>
    </form>
  </div>
</section>

{% endblock %}
